.toolbelt {
    text-align: center;
}

.categories-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category-toolbelt {
    text-align: center;
    margin: 20px;
}

.category-icon {
    width: 150px;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0 0 -25px 0; /* Adds space between rows */
}

.skill {
    width: 100px;
    margin: 0 15px 20px 15px; /* Adds space between icons in the same row */
    transition: transform 0.3s;
}

.skill img {
    width: 100px;
    height: auto;
}

.skill.hover {
    transform: scale(1.2);
}

.skill.unselected {
    opacity: 0.5;
}
